{% extends 'core/base.html' %}
{% block title %} cart | {% endblock %}

{% block contents %}
<div class="container mt-5" id="cart-app">
    <h1 class="display-5">Cart</h1>

    <div v-if="products.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="product in products" :key="product.id">
                    <td>
                        <img :src="product.thumbnail" alt="" class="img-thumbnail" style="max-width: 40px;">
                    </td>
                    <td>
                        <a :href="product.url">[[ product.title ]]</a>
                    </td>
                    <td>
                        <button @click="decrement(product.id, product.quantity, product.price)"> - </button>
                        [[ product.quantity ]]
                        <button @click="increment(product.id, product.quantity, product.price)"> + </button>
                    </td>
                    <td>[[ product.total_price ]]</td>
                    <td>
                        <button @click="remove(product.id, product.quantity, product.price)">Remove from cart</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>Total cost:</td>
                    <td>[[ numItems ]]</td>
                    <td>[[ totalCost ]]</td>
                    <td></td>
                </tr>
                <tr v-if="coupon_value">
                    <td colspan="3">Total with coupon</td>
                    <td>[[totalCostWithCoupon]]</td>
                </tr>
            </tfoot>
        </table>
        <hr>
        <div>
            Code value: <br>
            <input type="text" v-model="coupon_code"> <br>
            <button @click="applyCoupon()">Apply</button>
        </div>

        <div class="container my-5">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <form @submit.prevent="validateForm()">
                        <div class="mb-3">
                            <label for="first_name" class="form-label">First Name</label>
                            <input type="text" name="first_name" id="first_name" class="form-control" v-model="first_name">
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" name="last_name" id="last_name" class="form-control" v-model="last_name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" name="email" id="email" class="form-control" v-model="email">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" name="address" id="address" class="form-control" v-model="address">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" name="phone" id="phone" class="form-control" v-model="phone">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success" @click="buy()">Check out</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <p v-else>Your cart is empty</p>
</div>
{% endblock %}

{% block scripts %}
<script>

    createApp({
        data() {
            return {  
                errors: [],
                products: [{{ productstring|safe }}],
                first_name: '',
                last_name: '',
                email: '',
                address: '',
                phone: '',
                coupon_value:0,
                coupon_code:'',
                showCouponCodeError:false
            };
        },
        mounted() {
            console.log(this.products);
        },
        delimiters: ['[[', ']]'],
        store: store,
        computed: {
            numItems() {
                return store.state.numItems;
            },
            totalCost() {
                return store.state.totalCost;
            },
            totalCostWithCoupon: function(){
                if (this.coupon_value > 0){
                    return store.state.totalCost - parseInt(this.coupon_value)
                }else{
                    return store.state.totalCost;
                }
            }
        },
        methods: {
            validateForm() {
                this.errors = [];
                if (this.first_name === '') this.errors.push('First name is empty');
                if (this.last_name === '') this.errors.push('Last name is empty');
                if (this.email === '') this.errors.push('Email is empty');
                if (this.address === '') this.errors.push('Address is empty');
                if (this.phone === '') this.errors.push('Phone is empty');
                return this.errors.length;
            },
            applyCoupon(){
                if (this.coupon_code !== " "){
                    fetch('/api/can_use/?coupon_code='+ this.coupon_code,{
                        method: 'GET'
                    })
                    .then((response) =>{
                        return response.json();
                    })
                    .then((data)=>{
                        if (data.amount){
                            this.showCouponCodeError = false
                            this.coupon_value = parseInt(data.amount)
                        }else{
                            this.coupon_value = 0
                            this.showCouponCodeError = true
                        }
                    })
                }else{
                    this.showCouponCodeError = true
                }
            },
             buy() {
                const data = {
                    'first_name': this.first_name,
                    'last_name': this.last_name,
                    'email': this.email,
                    'phone': this.phone,
                    'address': this.address,
                    'coupon_code': this.coupon_code
                };
                if (this.validateForm() === 0) {
                    fetch('/api/create_checkout_session/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(data)
                    })
                    .then(response =>  response.json())
                    .then(data => {
                        if (data.redirect_url){
                            window.location.href = data.redirect_url; 
                        }else{
                            console.error('Error:' ,data.error)
                        }
                    })
                    .catch(error =>{
                        console.error('Fetch error:',error)
                    })
                   
                  
                }
            },
            increment(product_id, quantity, price) {
                console.log('product_id:', product_id);
                for (let product of this.products) {
                    if (product.id == product_id) {
                        if (quantity < product.num_available) {
                            const data = {
                                'product_id': product_id,
                                'update': true,
                                'quantity': parseInt(quantity + 1)
                            };
                            store.commit('increment', 1);
                            store.commit('changeTotalCost', parseFloat(price));
                            fetch('/api/add_to_cart/', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                credentials: 'same-origin',
                                body: JSON.stringify(data)
                            })
                            .then(response => {
                                for (let product of this.products) {
                                    if (product.id === product_id) {
                                        parseInt(product.quantity++);
                                        product.total_price = parseInt(product.quantity) * parseFloat(product.price);
                                    }
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                this.error = 'An error occurred: ' + error.message;
                            });
                        } else {
                            alert('No more available in stock');
                        }
                    }
                }
            },
            decrement(product_id, quantity, price) {
                const data = {
                    'product_id': product_id,
                    'update': true,
                    'quantity': parseInt(quantity - 1)
                };
                if (parseInt(quantity) - 1 === 0) {
                    this.remove(product_id, quantity, price);
                } else {
                    store.commit('increment', -1);
                    store.commit('changeTotalCost', - parseFloat(price));
                    fetch('/api/add_to_cart/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(data)
                    })
                    .then(response => {
                        for (let product of this.products) {
                            if (product.id === product_id) {
                                parseInt(product.quantity--);
                                product.total_price = parseInt(product.quantity) * parseFloat(product.price);
                            }
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
            },
            remove(product_id, quantity, price) {
                const data = {
                    'product_id': product_id
                };
                store.commit('increment', parseInt(-quantity));
                store.commit('changeTotalCost', -(parseInt(quantity) * parseFloat(price)));
                fetch('/api/remove_from_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then(response => {
                    this.products = this.products.filter(product => product.id !== product_id);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    }).mount('#cart-app');
</script>
{% endblock %}
