{% extends 'core/base.html' %}
{% block title %}Cart | {% endblock %}

{% block contents %}
<div class="container mt-5" id="cart-app">
    <h1 class="display-5 text-center mb-4">Cart</h1>

    <div v-if="products.length > 0">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="product in products" :key="product.id">
                    <td>
                        <img :src="product.thumbnail" alt="" class="img-thumbnail" style="max-width: 50px;">
                    </td>
                    <td>
                        <a :href="product.url" class="text-decoration-none">[[ product.title ]]</a>
                    </td>
                    <td>
                        <button @click="decrement(product.id, product.quantity, product.price)" class="btn btn-sm btn-outline-secondary">-</button>
                        [[ product.quantity ]]
                        <button @click="increment(product.id, product.quantity, product.price)" class="btn btn-sm btn-outline-secondary">+</button>
                    </td>
                    <td>[[ product.total_price ]]</td>
                    <td>
                        <button @click="remove(product.id, product.quantity, product.price)" class="btn btn-danger btn-sm text-center"> X </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>Total cost:</td>
                    <td>[[ numItems ]]</td>
                    <td>[[ totalCost ]]</td>
                    <td></td>
                </tr>
                <tr v-if="coupon_value">
                    <td colspan="3">Total with coupon</td>
                    <td>[[ totalCostWithCoupon ]]</td>
                </tr>
                <tr v-if="deliveryPrice">
                    <td colspan="3">Total with delivery</td>
                    <td>[[ totalCostWithDelivery ]]</td>
                </tr>
            </tfoot>
        </table>
        <hr>
        
        <div class="my-4">
            <label for="coupon_code" class="form-label">Code value:</label>
            <input type="text" id="coupon_code" class="form-control mb-2" v-model="coupon_code">
            <button @click="applyCoupon()" class="btn btn-primary">Apply</button>
        </div>
        <div class="alert alert-warning" role="alert" v-if="showCouponCodeError">
            <p>The coupon code is not valid!</p>
        </div>
        
        <div class=" my-4">
            <label class="form-label">Choose Delivery Option:</label>
            <div>
                <input type="radio" id="pick_up" value="pick_up" v-model="deliveryOption" @change="handleDeliveryOptionChange()">
                <label for="pick_up">Pick Up</label>
            </div>
            <div>
                <input type="radio" id="delivery" value="delivery" v-model="deliveryOption" @change="handleDeliveryOptionChange()">
                <label for="delivery">Delivery</label>
            </div>
        </div>

        <div v-if=" deliveryOption == 'delivery' ">
            <div class="my-4">
                <div class="mb-3">
                    <label for="location" class="form-label">Delivery Location</label>
                    <select name="location" id="location" class="form-control" v-model="selectedLocation" @change="getArea()">
                        <option value="">Select Location</option>
                        {% for location in locations %}
                        <option value="{{location.location}}">{{location.location}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="area" class="form-label">Area</label>
                    <select name="area" id="area" class="form-control" v-model="area" @change="getDeliveryPrice()">
                        <option v-for="area in areas" :key="area.id" :value="area.title">[[area.title]]</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="delivery_price" class="form-label">Delivery Price</label>
                    <input type="text" id="delivery_price" class="form-control" :value="deliveryPrice" readonly>
                </div>
                
            </div>

        </div>
        <p v-else> Send your receipt to our customer care after payment for pick up details </p>
        

        <div class="container my-5">
            <h2 class="h4 mb-4">Checkout</h2>
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                    <form @submit.prevent="validateForm()">
                        <div class="mb-3">
                            <label for="first_name" class="form-label">First Name</label>
                            <input type="text" name="first_name" id="first_name" class="form-control" v-model="first_name">
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" name="last_name" id="last_name" class="form-control" v-model="last_name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" id="email" class="form-control" v-model="email">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" name="address" id="address" class="form-control" v-model="address">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" name="phone" id="phone" class="form-control" v-model="phone">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success w-100" @click="buy()">Check out</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <p v-else class="text-center">Your cart is empty</p>
</div>
{% endblock %}

{% block scripts %}
<script>

    createApp({
        data() {
            return {  
                errors: [],
                products: {{ products_list|safe }},
                first_name: '',
                last_name: '',
                email: '',
                address: '',
                phone: '',
                coupon_value:0,
                coupon_code:'',
                showCouponCodeError:false,
                selectedLocation: '',
                deliveryPrice: '',
                deliveryOption:'pick_up',
                areas: [
                    {'id': '','title': 'Select location first'}
                ] ,
                area : '',
                
            };
        },
        mounted() {
            console.log(this.products);
        },
        delimiters: ['[[', ']]'],
        store: store,
        computed: {
            numItems() {
                return store.state.numItems;
            },
            totalCost() {
                return store.state.totalCost;
            },
            totalCostWithCoupon: function() {
                    const totalCost = parseFloat(store.state.totalCost) || 0;
                    const couponValue = parseFloat(this.coupon_value) || 0;
                    const finalTotal = totalCost - couponValue;
                    return Math.max(finalTotal, 0).toFixed(2); 
                },

            totalCostWithDelivery: function() {
                const totalCost = parseFloat(store.state.totalCost) || 0;
                const deliveryPrice = parseFloat(this.deliveryPrice) || 0;
                const couponValue = parseFloat(this.coupon_value) || 0;

                let finalTotal = totalCost;

                if (deliveryPrice > 0) {
                    finalTotal += deliveryPrice;
                }

                if (couponValue > 0) {
                    finalTotal -= couponValue;
                }

                return finalTotal.toFixed(2); // Returns the value as a string with 2 decimal places
            },


        },
        methods: {
            validateForm(){
                this.errors = [];
                if (this.first_name === '') this.errors.push('First name is empty');
                if (this.last_name === '') this.errors.push('Last name is empty');
                if (this.email === '') {
                    this.errors.push('Email is empty');
                } else if (!this.validEmail(this.email)) {
                    this.errors.push('Invalid email address');
                }
                if (this.address === '') this.errors.push('Address is empty');
                if (this.phone === '') this.errors.push('Phone is empty');
                return this.errors.length;

            },
            validEmail(email){
                const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return re.test(email);

            },

            handleDeliveryOptionChange() {
                if (this.deliveryOption === 'pick_up') {
                    this.deliveryPrice = "";
                    this.selectedLocation = '';
                    this.area = '';
                    this.areas = [{'id':'', 'title':'Select location first'}];
                }

            },    
            getArea(){
                if (this.selectedLocation !== ''){
                    this.deliveryPrice = ''; 
                    this.area = '';
                    fetch('/api/get_areas/?location='+ encodeURIComponent(this.selectedLocation),{
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then((response)=>{
                        return response.json()
                    })
                    .then((result)=>{
                        this.areas = result.areas
                        console.log(this.areas)
                        console.log(result)
                        this.areas.unshift({'id':'', 'title':'Select area'})
                        
                    })
                }else{
                    this.areas = [{'id':'', 'title': 'Select location first'}]
                    this.area = ''
                }

            },
            getDeliveryPrice(){
                if (this.area !== ''){
                    fetch('/api/get_delivery_price/?area='+ encodeURIComponent(this.area),{
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then((response)=>{
                        return response.json()
                    })
                    .then((result) => {
                        const parsedPrice = parseFloat(result.delivery_price);
                        this.deliveryPrice = isNaN(parsedPrice) ? 0 : parsedPrice;
                        console.log(this.deliveryPrice);
                        console.log(result);
                    })
                    .catch((error) => {
                        console.error('Error fetching delivery price:', error);
                        this.deliveryPrice = 0; 
                    });
                }else{
                    this.deliveryPrice = 0
                }

            },
            applyCoupon(){
                const trimmedCouponCode = this.coupon_code.trim();
                if (trimmedCouponCode !== "") {
                    fetch('/api/can_use/?coupon_code=' + encodeURIComponent(trimmedCouponCode), {
                        method: 'GET'
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.amount) {
                            this.showCouponCodeError = false;
                            this.coupon_value = parseInt(data.amount);
                        } else {
                            this.coupon_value = 0;
                            this.showCouponCodeError = true;
                        }
                    });
                } else {
                    this.showCouponCodeError = true;
                }

            },
             buy() {
                const data = {
                    'first_name': this.first_name,
                    'last_name': this.last_name,
                    'email': this.email,
                    'phone': this.phone,
                    'address': this.address,
                    'coupon_code': this.coupon_code,
                    'delivery_price': this.deliveryPrice
                };
                if (this.validateForm() === 0) {
                    fetch('/api/create_checkout_session/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(data)
                    })
                    .then(response =>  response.json())
                    .then(data => {
                        if (data.redirect_url){
                            window.location.href = data.redirect_url; 
                        }else{
                            console.error('Error:' ,data.error)
                        }
                    })
                    .catch(error =>{
                        console.error('Fetch error:',error)
                    })
                   
                  
                }
            },
            increment(product_id, quantity, price) {
                console.log('product_id:', product_id);
                for (let product of this.products) {
                    if (product.id == product_id) {
                        if (quantity < product.num_available) {
                            const data = {
                                'product_id': product_id,
                                'update': true,
                                'quantity': Number(quantity) + 1
                            };
                            store.commit('increment', 1);
                            store.commit('changeTotalCost', parseFloat(price));
                            fetch('/api/add_to_cart/', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                credentials: 'same-origin',
                                body: JSON.stringify(data)
                            })
                            .then(response => {
                                for (let product of this.products) {
                                    if (product.id === product_id) {
                                        parseInt(product.quantity++);
                                        product.total_price = parseInt(product.quantity) * parseFloat(product.price);
                                    }
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                this.error = 'An error occurred: ' + error.message;
                            });
                        } else {
                            alert('No more available in stock');
                        }
                    }
                }
            },
            decrement(product_id, quantity, price) {
                const data = {
                    'product_id': product_id,
                    'update': true,
                    'quantity': parseInt(quantity - 1)
                };
                if (parseInt(quantity) - 1 === 0) {
                    this.remove(product_id, quantity, price);
                } else {
                    store.commit('increment', -1);
                    store.commit('changeTotalCost', - parseFloat(price));
                    fetch('/api/add_to_cart/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(data)
                    })
                    .then(response => {
                        for (let product of this.products) {
                            if (product.id === product_id) {
                                parseInt(product.quantity--);
                                product.total_price = parseInt(product.quantity) * parseFloat(product.price);
                            }
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
            },
            remove(product_id, quantity, price) {
                const data = {
                    'product_id': product_id
                };
                store.commit('increment', parseInt(-quantity));
                store.commit('changeTotalCost', -(parseInt(quantity) * parseFloat(price)));
                fetch('/api/remove_from_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then(response => {
                    this.products = this.products.filter(product => product.id !== product_id);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    }).mount('#cart-app');
</script>
{% endblock %}
